
<ion-content class="ion-padding" id="welcome">
  <img src="assets/resim/depositphotos_92345772-stock-illustration-education-logo-concept.jpg"  />
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="secondary" class="ion-text-center">
          <h1>OKUL MALZEMELERİMİ PAYLAŞIYORUM </h1>
        </ion-text>
       
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
  <ion-button color="success" expand="full" routerLink="/register">Kayıt</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" routerLink="/login">Giriş</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>