<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary"  shape="round">
      Ürün Takibi
    </ion-title >
    <ion-buttons slot="primary" shape="round">
      <ion-back-button text="Geri"></ion-back-button>
      <ion-button (click)="yeniKayit()" [disabled]="!deger.urun || !deger.adet || !deger.adres">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  


  <ion-item>
    <ion-label>Ürün Adı:</ion-label>
    <ion-input placeholder="Ürün" [(ngModel)]="deger.urun" autofocus ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Adet:</ion-label>
    <ion-input type="number" placeholder="Adet/Kg" [(ngModel)]="deger.adet"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Okul Adı:</ion-label>
    <ion-input  placeholder="Okul Adı" [(ngModel)]="deger.okulad" autofocus></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Okul Adresi:</ion-label>
    <ion-input  placeholder="Adresi" [(ngModel)]="deger.adres" autofocus></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telefon Numarası:</ion-label>
    <ion-input  placeholder="Telefon Numarası" [(ngModel)]="deger.telno" autofocus></ion-input>
  </ion-item>
<br>
<ion-list>
  

  <ion-item>
    <ion-label>Ürünler</ion-label>
    <ion-select [compareWith]="compareWith">
      <ion-select-option *ngFor="let deger of kayitlar" [value]="deger.payload.doc.id">{{deger.payload.doc.data().urun}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>


<ion-card *ngFor="let kayit of kayitlar">
  <ion-item>
    <ion-label>ID : {{kayit.payload.doc.id}}</ion-label>
  </ion-item>

  <ion-card-content>
    <ion-label>Ürün Adı: {{kayit.payload.doc.data().urun}}</ion-label>
  </ion-card-content>
  <ion-card-content>
    <ion-label>İhtiyaç Adedi: {{kayit.payload.doc.data().adet}}</ion-label>
  </ion-card-content>
  <ion-card-content>
    <ion-label>Okul Adi: {{kayit.payload.doc.data().okulad}}</ion-label>
  </ion-card-content>
  <ion-card-content>
    <ion-label>Okul Adresi: {{kayit.payload.doc.data().adres}}</ion-label>
  </ion-card-content>
  <ion-card-content>
    <ion-label>Telefon No: {{kayit.payload.doc.data().telno}}</ion-label>
  </ion-card-content>
  <ion-card-content>
    <ion-label>Eklenme Tarihi: {{kayit.payload.doc.data().tarih * 1000 | date:'dd:MM:yyyy HH:mm:ss'}}</ion-label>
  </ion-card-content>
  <ion-card-content>
  <ion-button shape="round" color="success" size="small" (click)="presentAlertPrompt(kayit)" >
    <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

  </ion-button>
  <ion-button shape="round" color="danger" size="small" (click)="presentAlertConfirm(kayit.payload.doc.id)">
    <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
</ion-button>
</ion-card-content>
</ion-card>
</ion-content>
